.ipynb_checkpoints
./.ipynb_checkpoints
__pycache__
.json
*.json
./__pycache__
.nfs*
.vscode/*
.fuse_hidden*
*.BACKUP.*
*.BASE.*
*.LOCAL.*
*.REMOTE.*
*_BACKUP_*.txt
*_BASE_*.txt
*_LOCAL_*.txt
*_REMOTE_*.txt
.orig
